@media(max-width:576px){
    .footer-head,ul,p{
        text-align: center;
    }
}

footer,ul,h1{
    margin: 20px 0 20px 0;
    
}

.carousel-inner img {
  max-height: 400px; /* Set your desired max height */
  

}
